packages:
  yum:
    python36: []

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web_app/webroot

files:
  "/etc/cron.d/app-run-checker":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 5,17 * * * webapp source /opt/elasticbeanstalk/support/envvars && cd /var/app/current/slack_checks && python3 checker.py >> summary.log
    leader_only: true

commands:
  01_webapp_shell:
    command: |
      chsh -s /bin/bash webapp
      mkdir /home/webapp
      chown webapp:webapp /home/webapp
      chmod 0700 /home/webapp
  02_clear_cron_backup:
    command: rm -f /etc/cron.d/app-run-checker.bak
    ignoreErrors: true
  03_pip:
    command: |
      pip-3.6 install requests
      pip-3.6 install mysql-connector-python
      pip-3.6 install slackclient
