<?php
if (!defined('GUEST')) {
    die('go away');
}

date_default_timezone_set('UTC');

$cfg_url_base = "https://slack-signup.bravecollective.com/"; // include a trailing slash - 'sso.php' will be appended as callback

$cfg_ccp_client_id = ""; # CCP ESI LOGIN ID
$cfg_ccp_client_secret = ""; # CCP ESI LOGIN SECRET

$cfg_user_agent = "BRAVE Slack";

$cfg_sql_url = 'mysql:host=localhost;dbname=slack';
$cfg_sql_user = '';
$cfg_sql_pass = '';


$cfg_slack_admin = ""; # SLACK ADMIN
$cfg_slack_token = ""; # SLACK TOKEN
$cfg_slack_botname = ""; # SLACK BOT NAME


$cfg_core_api = 'https://account.bravecollective.com/api';
$cfg_core_app_id = ; # NEUCORE APP ID
$cfg_core_app_secret = ''; # NEUCORE APP SECRET

?>
